body {
    /* background-color: red; */
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 40px;
    width: 500px;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}

.group {
    margin-bottom: 20px;
    white-space: nowrap;
}

.group label {
    width: 50%;
    display: inline-block;
}

.group .input-group {
    width: 50%;
    display: inline-block;
}